<div class="navbar background-baby-pink border-bottom-baby-purple">
      <h1 class="useCandyFont text-baby-blue" style="margin-top: 20px;" [routerLink]="['/showroom']">WholesaleCandyEmporium
      <img [routerLink]="['']" class="img-responsive girly-candy" style="max-width: 75px" alt="Candy image">
      </h1>

      <img [routerLink]="['/checkout']" class="img-responsive cart" style="max-width: 75px" alt="Candy image">
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
