/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: candyFont;
  src: url(/assets/CherryandKissesPersonalUse.ttf);
}

.useCandyFont {
  font-family: candyFont;
}

.text-baby-blue {
  color: #9CC9FF;
}

.text-baby-purple {
  color: #D0CAE6;
}

.background-baby-pink {
  background-color: #FEE3F6;
}

.border-bottom-baby-purple {
  border-bottom: 20px;
  border-bottom-style: double;
  border-color: #D0CAE6;
}

.hover-baby-blue:hover {
  background-color: #9CC9FF;
}

.spacing-on-top {
  margin-top: 40px;
}

.font-large {
  font-size: 250%;
}

.font-medium {
  font-size: 100%;
}

.out-of-stock {
  color: #6F1514;
}

.sold-out {
  font-size: 200%;
  color: #6F1514;
}

.sold-out-fade {
  opacity: 0.5;
}

.fundo-bar-small {
  content:url("/assets/fundo-bar-small.png");
}

.fundo-bar-medium {
  content:url("/assets/fundo-bar-medium.png");
}

.fundo-bar-large {
  content:url("/assets/fundo-bar-large.png");
}

.extreme-micro-sours {
  content:url("/assets/extreme-micro-sours.png");
}

.solo-brand-twirly-rope-small {
  content:url("/assets/solo-brand-twirly-rope-small.png");
}

.solo-brand-twirly-rope-medium {
  content:url("/assets/solo-brand-twirly-rope-medium.png");
}

.girly-candy {
  content:url("/assets/girly-candy.png");
}

.cart {
  content:url("/assets/cart.png");
}
